{% if page.has_other_pages %}
<nav class="pagination">
  {% if page.has_previous %}
    <a class="tag" href="?page={{ page.previous_page_number }}{% if q %}&q={{ q|urlencode }}{% endif %}{% if tag %}&tag={{ tag|urlencode }}{% endif %}">Anterior</a>
  {% endif %}
  <span class="muted">Página {{ page.number }} de {{ page.paginator.num_pages }}</span>
  {% if page.has_next %}
    <a class="tag" href="?page={{ page.next_page_number }}{% if q %}&q={{ q|urlencode }}{% endif %}{% if tag %}&tag={{ tag|urlencode }}{% endif %}">Siguiente</a>
  {% endif %}
</nav>
{% endif %}
